$purple: #463c74;
$dimmed-purple: rgba(70, 60, 116, 0.5);
$green: #b4d51e;
$hue: #f8f7f5;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
  flex-wrap: wrap;
}
@media all and (max-width: 550px) {
  .container {
    margin: 2em 0;
  }
}

// logo
.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: $purple;
}
.logo span {
  color: $green;
}
// search
.wrapper {
  width: 50%;
  position: relative;
  min-width: 400px;
}

.input {
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  padding: 0.75em 1.5em;
  background-color: $hue;
  border: none;
  border-radius: 6px;
  outline: none;
}
.input::placeholder {
  color: $dimmed-purple;
}
@media all and (max-width: 733px) {
  .wrapper {
    order: 3;
    min-width: 100%;
    margin: 1em 0;
  }
}

.btn {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  top: 0;
  bottom: 0;
  border: none;
  padding: 0.5em;
  background-color: transparent;
}
.btn:hover {
  background-color: #dbdbda;
}
// profile settings
.profile_settings {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media all and (max-width: 550px) {
  .profile_settings {
    width: 100%;
    margin: 1em 0;
  }
}
.heart,
.profile,
.language {
  margin-left: 1rem;
}
.language {
  font-family: "Merriweather", serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.hamBtn {
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slice {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: $purple;
  transition-duration: 100ms;
  transform-origin: left;
}

.slice1rotation {
  transform: rotate(45deg);
}
.slice3rotation {
  transform: rotate(-45deg);
}
.slice2gone {
  transition-duration: 0ms;
  visibility: hidden;
}

@media all and (min-width: 550px) {
  .hamBtn {
    display: none;
  }
}
@media all and (max-width: 550px) {
  .hide {
    display: none;
  }
}
