.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 550px) {
  .container {
    margin: 2em 0;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #463c74;
}

.logo span {
  color: #b4d51e;
}

.wrapper {
  width: 50%;
  position: relative;
  min-width: 400px;
}

.input {
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  padding: 0.75em 1.5em;
  background-color: #f8f7f5;
  border: none;
  border-radius: 6px;
  outline: none;
}

.input::-webkit-input-placeholder {
  color: rgba(70, 60, 116, 0.5);
}

.input:-ms-input-placeholder {
  color: rgba(70, 60, 116, 0.5);
}

.input::-ms-input-placeholder {
  color: rgba(70, 60, 116, 0.5);
}

.input::placeholder {
  color: rgba(70, 60, 116, 0.5);
}

@media all and (max-width: 733px) {
  .wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 100%;
    margin: 1em 0;
  }
}

.btn {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  top: 0;
  bottom: 0;
  border: none;
  padding: 0.5em;
  background-color: transparent;
}

.btn:hover {
  background-color: #dbdbda;
}

.profile_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media all and (max-width: 550px) {
  .profile_settings {
    width: 100%;
    margin: 1em 0;
  }
}

.heart,
.profile,
.language {
  margin-left: 1rem;
}

.language {
  font-family: "Merriweather", serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.hamBtn {
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slice {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #463c74;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slice1rotation {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slice3rotation {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slice2gone {
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
  visibility: hidden;
}

@media all and (min-width: 550px) {
  .hamBtn {
    display: none;
  }
}

@media all and (max-width: 550px) {
  .hide {
    display: none;
  }
}
/*# sourceMappingURL=Header.module.css.map */