.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
@media all and (max-width: 550px) {
  .container {
    width: 90%;
  }
}

.testamonies {
  display: flex;
  overflow-x: auto;
  margin: 5em 0;
}
